* {
  padding: 0px;
  margin: 0px;
}

@font-face {
  src: url("https://www.axis-praxis.org/fonts/webfonts/MetaVariableDemo-Set.woff2")
    format("woff2");
  font-family: "Meta";
  font-style: normal;
  font-weight: normal;
}

main {
  transition: all 1.25s;
  -webkit-text-stroke: 4px #d6f4f4;
  font-variation-settings: "wght" 900, "ital" 1;
  font-size: 15rem;
  text-align: center;
  color: transparent;
  font-family: "Meta", sans-serif;
  text-shadow: 10px 10px 0px #07bccc, 15px 15px 0px #e601c0,
    20px 20px 0px #e9019a, 25px 25px 0px #f40468, 45px 45px 10px #482896;
  cursor: pointer;
}

main:hover {
  font-variation-settings: "wght" 100, "ital" 0;
  text-shadow: none;
}

navbar-text {
  padding: 2px;
  margin: 2px;
}

quarter {
  width: 25%;
  height: 25%;
}

ten {
  width: 10%;
  height: 10%;
}
/*numbers styling*/
.numbers_container {
  width: 90%;
  max-width: 450px;
  margin: 10px auto;
  background-color: aqua;
  border-radius: 8px;
}
.number_form {
  width: 100%;
  background-color: red;
  padding: 20px;
  border-radius: 8px;
  font-family: monospace;
}
input[type="number"] {
  width: 70%;
  height: 40px;
  border-radius: 4px;
  outline: none;
  border: none;
  background-color: rgb(218, 214, 16);
  font-size: 24px;
  color: aliceblue;
  padding-left: 10px;
}
input[type="number"]::placeholder {
  font-size: 24px;
  font-family: monospace;
  font-weight: 400;
}
button {
  display: inline-block;
  width: 25%;
  font-size: 24px;
  height: 40px;
  background-color: #3a3a3a;
  border: none;
  outline: none;
  border-radius: 4px;
  margin-left: 10px;
  cursor: grab;
  color: alicewhite;
}
.number-fact {
  margin-top: 10px;
  height: auto;
  font-size: 20px;
}

/*end of numbers styling  */

footer {
  height: 100vh;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 5px 5px 20px #8f73d6;
  background-color: #e9019a;
  border-radius: 10px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid #2c14b4;
  margin-top: 5px;
}
textarea {
  resize: vertical;
}

button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  /*padding: 20px;*/
  font-size: 24px;
  border-radius: 8px;
  font-family: monospace;
  color: #07bccc;
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: #045819;
}

#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: #01e933;
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(218, 31, 31);
  color: black;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}
